:root {
  --my-font: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --my-font-size: 1em;
  --my-font-size-large: 1.1em;
  --my-color-background: #f5f3f2;
  --my-color-light: #ffffff;
  --my-color-medium: #d7d9db;
  --my-color-accent: #047da5;
  --my-color-accent-hover: #db4325;
  --my-color-accent-font: #fff;
}

body {
  background-color: var(--my-color-background);
  font-size: var(--my-font-size);
  font-family: var(--my-font);
  margin: auto;
}

a {
  color: var(--my-color-accent);
}

a:hover {
  color: var(--my-color-accent-hover);
}

.my-content {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.my-logo img {
  margin-top: 20px;
  border-radius: 50%;
}

.my-title {
  font-weight: 700;
  font-size: 2rem;
  padding: 10px;
}

.my-intro {
  padding: 10px;
}
.my-projects ul {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.my-projects li {
  text-align: center;
  list-style: none;
  padding: 15px;
  background-color: var(--my-color-light);
  border: 1px solid var(--my-color-medium);
  margin: 20px;
  box-shadow: 5px 5px 5px var(--my-color-medium);
  border-radius: 5px;
}

.my-projects li .my-button {
  display: block;
  max-width: 200px;
  margin: auto;
  padding: 10px;
  background-color: var(--my-color-accent);
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #ededed;
}

.my-projects a {
  text-decoration: none;
  color: var(--my-color-accent-font);
}

.my-projects a:hover {
  background-color: var(--my-color-accent-hover);
}

.my-projects-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--my-font-size-large);
  padding: 10px;
}

.my-social a {
  padding: 10px;
}
